{% extends "igembase.html" %}
{% block pagecontent %}
<h2>How To Use BioMortar</h2>

<p>Biomortar involves model-guided cellular engineering where new metabolic functions can be added to existing microorganisms.  The program takes a user-defined input compound, output compound, and weighting scheme and determines the ideal pathway from the starting to the ending compound. It then looks up the necessary enzymes to realize this pathway and assembles a plasmid to accomplish the pathway. Thus, it presents an exciting capability to help transform important processes in the world for applications ranging from bioremediation to production of biofuels.  </p>

<br/><h3> Part I - Using IMPTools</h3><br/>

<strong>STEP 1: SETTING THE INPUT AND OUTPUT COMPOUND</strong>
<p>Choose an input and output compound. Using the search feature, find the KEGG id of each compound. Type the KEGG id into the Input Compound and Output Compound fields.  By default, our algorithm will find the shortest path from the input compound to the output compound. If you are only looking for the shortest path, click Find Path and skip to STEP 3. </p>
image1<br/>
<strong>STEP 2: SETTING THE WEIGHTS</strong>
<p>We realize that the shortest path is rarely the path you are looking for. In order to allow you further flexibility, we have created the option to weight 6 different constraints that we thought would be useful. Listed below is a description of each constraint. </p>
<table>
<tr><td width="10%"></td><td>
<ul>
	<li><strong>Fewest Total Reactants</strong>
	<p>Adding weight to this constraint minimizes the number of cofactors and additional substrates. This allows minimal disturbance of the natural flux of the organism. By minimizing this number, we reduce the things that need to be added to the media for the organism to perform the desired function.</p>
	</li>

	<li><strong>Fewest Total Products</strong>
		<p>Adding weight to this constraint minimizes the number of byproducts from the reactions in the chosen pathway. By minimizing this number, we reduce the useless products that the organism forms while trying to perform its desired function.</p>
		</li>
		
	<li><strong>Least ATP Consumption</strong>
	<p>This weight minimizes the number of reactions that have ATP as a reactant. This allows for a more natural flow of events through the pathway. A pathway that consumes large amounts of ATP would be impractical because organisms can only produce a limited amount of ATP. </p>
	</li>
	
	<li><strong>Known Enzyme Data </strong>
	<p>Using this weight limits the number of reactions which do not have enzyme data listed in the KEGG database. Synthetic biology requires that the enzyme and gene data for the reaction is known. If we do not know that information, then we can’t synthetically create a pathway or a plasmid. </p>
	</li>
	
	<li><strong>Fewest Changes to Host Organism</strong>
	<p>When creating a new metabolic pathway, it is important to consider the host in which the organism exists. This weight allows for the fewest changes to the host organism. For example, if the host organism is e.coli, and the fewest changes to host organism constraint is heavily weighted, the program will choose as many pathways that already exist in e.coli as possible in order to get from input to output compound. </p>
	<p>NOTE: When choosing this weight a host organism must be selected or it will not do anything. This may slow down computation slightly. </p>
	</li>
	
	<li><strong>Metabolite Connectivity </strong>
	<p>This constraint limits the number of metabolites that are highly connected. Ideally, we don’t want compounds such as water and ATP, which are in many reactions, appearing in our pathway as primary compounds from the input to the output compound. By weighting this heavily, a scientist will be able to narrow down the final pathway faster. </p>
	</li>
</ul>
</td></tr></table>
<table><tr><td width="5%"></td><td>

	<p><i>Suggested Values:</i></p>
	<p>You can define up to six of these weights by assigning values to them. The weights that are not assigned are assumed to be 0. A dot product of these six with the six parameters defined by the program will be used to check each edge of the matrix while choosing the best path. This is effectively the length of the edge. The six parameters defined by the program are: </p>
	<ul>
		<li>Fewest cofactors/additional substrates=number of reactants -1</li>
		<li>Fewest byproducts=number of products-1</li>
		<li>Least ATP consumption=amount of ATP listed as a reactant in the reaction</li>
		<li>Enzyme Availability=a value of 1 if there is no enzyme known, a value of 0 if there are enzymes known</li>
		<li>Fewest Changes to Host=a 1 if it does not occur in host organism, a 0 if it does occur in the host organism </li>
		<li>Metabolite Connectivity=number of edges attached to any given node</li>
		</ul>
<p>There is no maximum value that you can put in for the weights. They are all relative to each other. The suggested values listed above are values that gave good results from our experience.  After selecting these values click Find Path to view results. </p>
image2
</td></tr></table>

<strong>STEP 3: UPDATING THE RESULTS</strong>
<p>Upon viewing the results you may see compounds that you don’t want in the pathway. You can change the values of the constraints in the boxes at the top and click update to view a new path. If there is a specific compound in the pathway that you don’t want, you may also click the X under any compound in order to remove the compound from the pathway. A new path will then be calculated. </p>

<strong>STEP 4: VIEW DETAILS</strong>
<p>After finding a path(s) that you are satisfied with, you may see more information about that pathway by clicking the Details button. At the top of the page you will see the weights that you put in, the compounds that you removed, and the pathway that you are viewing. </p>
image3
<br/>
This will take you to the following page
<br/> image4
<br/>
<p>By clicking the XGMML button you can view that path in cytoscape. This gives a better visualization of the pathway and allows you to see all the compounds going in and out of each reaction. The pink circles are compounds, the darker pink boxes are reactions, and the light colored circles are cofactors/additional substrate and byproducts.</p>
image5
<br/>The Excel button allows you to import the information from the details page to an excel spreadsheet for later use. <br/>
image6<br/>
<p>The Enzyme/Gene Data Button allows you to see the available enzyme and gene data for any reaction in the path. If you have chosen a host, it will show you the enzymes that catalyze each reaction in that host if they exist. It will also give you the gene information associated with the enzymes. If you have not chosen a host, it will allow you to choose a host and then see the same information. The enzyme and gene links will take you to the relevant KEGG webpage where you can view more details about them. </p>
image7
<p>Below all of those options, there is a stoichiometric matrix that is shown. This can also be viewed in excel by clicking the Excel button.  <br/>
Thanks for using BioMortar! Please leave any comments or suggestions you have on our Feedback page. </p>

<br/><h3> Part II - Using Plasmid Designer </h3><br/>

<br><h3> Part III - Using COBRA Analysis </h3><br/>


{% endblock %}
