{% extends "igembase.html" %}
{% block pagecontent %}
<h2>About the Team </h2>
<p>This will be the second year for a software tools team to represent the University of Illinois at IGEM.  The 2010 Illinois Tools team is comprised of students from the fields for biology, bioengineering, and computer science.  These students are extremely motivated, and driven to expand the boundaries of biotechnology.  This year’s team has proven that through their outstanding work in the field of genome scale metabolic engineering.  The group is very committed to the project, and has displayed this by conducting the entirely student-run project independently.  The group consists of four members, all of which worked full-time.  The group also has two faculty advisors.   Below are the names and departments of all the students and faculty that are responsible for making this groundbreaking project possible.  </p>
<br/><strong>Students</strong>
<table><tr><td>
<ul>
	<li>Anna Kropornicka (Technical Director)<br/>
	Senior<br/>
	Integrative Biology</li><br/>

	<li>Jeremy Kemball (Science Director)<br/>
	Sophomore <br/>
	Bioengineering</li><br/>

	<li>Colin Hoffman (Administrative Director)
	<br/>Sophomore
	<br/>Bioengineering</li><br/>

	<li>Bobak Hadidi (Lead Developer)
	<br/>Senior
	<br/>Computer Science</li><br/>
	
</ul><br/>

<strong>Faculty</strong>
<ul>
	<li>Dr. Nathan Price
	<br/>Dept. of Chemical Engineering</li><br/>

	<li>Dr. Kaustubh Bhalerao
	<br/>Dept. of Agricultural and Biological Engineering</li>
</ul>

</td><td><table>
<td> <img src="
http://2010.igem.org/wiki/images/thumb/8/8c/ColinHoffman.jpg/225px-ColinHoffman.jpg
" align='center'> </td>
<td> <img src="
http://2010.igem.org/wiki/images/thumb/0/0f/UIUC-Illinois-Software-Cards.jpg/200px-UIUC-Illinois-Software-Cards.jpg
" align='center'> </td>
</tr>
<tr>
<td> <img src="
http://2010.igem.org/wiki/images/thumb/5/52/AnnaKropornicka.jpg/225px-AnnaKropornicka.jpg
" align='center'> </td>
<td> <img src=" http://2010.igem.org/wiki/images/thumb/5/56/Bobak_cooking.jpg/200px-Bobak_cooking.jpg " align='center'> </td>
</tr>
</table></td>
</table>
<br/>Visit our <a href="http://2010.igem.org/Team:UIUC-Illinois-Software/Team">wiki</a> for more information. 
{% endblock %}
