{% extends "igembase.html" %}
{% block pagecontent %}

<h2>Welcome to IMPtools!!!</h2>
This is a short description of how the page works. You can search a name at the following url <a href="http://www.kegg.jp">Kegg</a> type a KeggID into the form below or simply choose from the drop down menu. There are several methods of determining the best path from starting compound. You can select your preferences by adding weights below. Be sure to read How to Use IMP above if this is your first time.
         <br/>   <strong>Select Your Compounds</strong>
<table>
    <tr>
        <td >
            <form action="allresults/" method="post">{% csrf_token %}
            Input<br/>
            <input type="text" name="typein" value=None />
        </td>
        <td >
            Output<br/>
            <input type="text" name="typeout" value=None />
        </td>
		<td >
            Number of Paths<br/>
            <select name="num" size=1 />
            	<option value=1>One</option>
            	<option value=3>Three</option>
        </td>



    </tr>
</table>
            <strong>Select Your Weighting System</strong>
<table>
    <tr>
        <td align="left" width="15%">
            Fewest Total Reactants<br/>
            <input type="text" name="wt1" size="3" value=0 />
        </td>
<td align="left" width="15%">
            Fewest Total Products<br/>
            <input type="text" name="wt2" size="3" value=0 />
        </td>
<td align="left" width="15%">
            Least ATP consumption<br/>
            <input type="text" name="wt3" size="3" value=0 />
        </td>
<td align="left" width="15%">
            Known Enzyme Data<br/>
            <input type="text" name="wt4" size="3" value=0 />
        </td>

        <td  width="15%">
            Fewest Changes to Host<br/>
            <input type="text" name="wt5" size="3" value=0 />
        </td>
<td align="left" width="15%">
            Metabolite Connectivty<br/>
            <input type="text" name="wt6" size="3" value=0 />
        </td>

        <td>
            Host Organism(or none)<br/>
            <select name="orgchoice" size=1>
                <option value=None>None</option>
                {% for org in all_orgs %}
                    <option value={{org.ShortName}}>{{org.FullName}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="rmlst" value=[] />
            <input type="submit" value="Find Path">
            </form>
        </td>
    </tr>
</table>

{% endblock %}
