<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>HomePage</title>
		<meta http-equiv="Content-Language" content="English" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="http://abe-bhaleraolab.age.uiuc.edu/media/igem3.css" rel="stylesheet" type="text/css" media="screen" /> 
	</head>
	<body>
		<div id="wrap">



			<div id="content">
				<div class="left">
						<br>
						<center><span style="color:#FF6600"><h1>Welcome to BioMORTAR!</h1></span></center>
                        <br><br>
            

						<center><FORM><INPUT TYPE="BUTTON" VALUE="Start" 
ONCLICK="window.location.href='start/'"></FORM></center>
						
				</div>
				<div style="clear: both;"> </div>
		</div>

        <br/>
		
	</body>
</html>
